*{
    margin: 0;
    padding: 0;
}
header{
    grid-area: header;
    background-color: green;
}
article{
    grid-area: "article";
    background-color: rebeccapurple;
}
footer{
    grid-area: "footer";
    background-color: brown;
}

.main{
    display: grid;
    grid-template-areas: 
    "header header header"
    "article article nav"
    "footer footer footer";
}